

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100px;
    height: 100px;
    background: url(./assets/loading.png) no-repeat;
    background-size: cover;
    display: none;
}